- if user_signed_in?
  .container
    .row.profile
      .col-md-3
        .profile-sidebar
          / SIDEBAR USERPIC
          .profile-userpic
            %img.img-responsive{:alt => "", :src => "#{current_user.profile_picture}?type=large"}/
          / END SIDEBAR USERPIC
          / SIDEBAR USER TITLE
          .profile-usertitle
            .profile-usertitle-name
              = "#{current_user.first_name} #{current_user.last_name}"
            .profile-usertitle-company-name
              Playstation Fans Barranquilla
            .profile-usertitle-email
              = current_user.email
          / END SIDEBAR USER TITLE
          / SIDEBAR BUTTONS
          .profile-userbuttons
            //%button.btn.btn-success.btn-sm{:type => "button"} Follow
            //%button.btn.btn-danger.btn-sm{:type => "button"} Message
          / END SIDEBAR BUTTONS
          / SIDEBAR MENU
          .profile-usermenu
            %ul.nav
              %li{"ng-class" => "{active: isSelectedTab(1)}"}
                %a{:href => "", "ng-click" => "selectTab(1)"}
                  %i.fa.fa-home
                  Sumario
              %li{"ng-class" => "{active: isSelectedTab(2)}"}
                %a{:href => "", "ng-click" => "selectTab(2)"}
                  %i.fa.fa-gamepad
                  Mis Juegos
              %li{"ng-class" => "{active: isSelectedTab(3)}"}
                %a{:href => "", "ng-click" => "selectTab(3)"}
                  %i.fa.fa-trophy
                  Trofeos
              %li{"ng-class" => "{active: isSelectedTab(4)}"}
                %a{:href => "", "ng-click" => "selectTab(4)"}
                  %i.fa.fa-users
                  Amigos
              %li{"ng-class" => "{active: isSelectedTab(5)}"}
                %a{:href => "", "ng-click" => "selectTab(5)"}
                  %i.fa.fa-shopping-cart
                  Mi Tienda
              %li{"ng-class" => "{active: isSelectedTab(6)}"}
                %a{:href => "", "ng-click" => "selectTab(6)"}
                  %i.fa.fa-wrench
                  Configuración
          / END MENU
      .col-md-6
        .profile-content{"ng-show" => "isSelectedTab(1)"}
          Vacio
        .profile-content{"ng-show" => "isSelectedTab(3)"}
          Cofiguración de Cuenta
        .profile-content{"ng-show" => "isSelectedTab(4)"}
          Muy Pronto!
      %div{"ng-class" => "{'col-md-9': not_adding_game, 'col-md-6': adding_game}", "ng-show" => "isSelectedTab(2)"}
        .profile-content
          %legend
            Mis Juegos
          .well
            %button.btn.btn-default.btn-sm{:type => "button", "ng-click" => "getAllGames();"}
              %span{"ng-show" => "games_loading"}
                %i.fa.fa-spinner.glyphicon-refresh-animate
                Cargando
              %span{"ng-hide" => "games_loading"}
                %i.fa.fa-plus{"aria-hidden" => "true"}
                Agregar Juego

          .row{"ng-repeat" => "games in current_owned_games", "ng-click" => "stopAddingGame()"}
            .col-xs-18.col-sm-6.col-md-2{"ng-repeat" => "ownedgame in games"}
              .thumbnail
                %img.img-thumbnail{"ng-src" => "{{ownedgame.game.small_cover}}", :style => "width: 570px;", "ng-class" => "adding"}
                %div{"ng-hide" => "adding_game || deleting"}
                  .caption{"ng-class" => "ownedgame.game.platform"}
                    .game-hover-title {{ownedgame.game.title}}
                    %p
                      %a.label.label-danger{:href => "", "ng-click" => "delete(ownedgame.game, ownedgame.id, $index); deleting = true;"} Eliminar
                      %a.label.label-default{:href => "", "ng-click" => "get_game(ownedgame.game.id, ownedgame.id)"} Ver más
                %div{"ng-show" => "deleting"}
                  .caption{"ng-class" => "ownedgame.game.platform"}
                    .game-hover-title Eliminando ...

      .col-md-3{"ng-show" => "adding_game"}
        .game-search
          %button.close{"aria-label" => "Cerrar", :type => "button", "ng-click" => "stopAddingGame()"}
            %span{"aria-hidden" => "true"} &#215;
          .game-search-text
            %input.form-control{:placeholder => "Buscar Juego", "ng-model" => "query.title", "ng-focus" => "focus"}
          .search-result-box.media{"ng-repeat" => "game in games | filter:query | limitTo:20 | orderBy: '-platform'", "ng-show" => "query.title.length > 2", "ng-class" => "game.platform"}
            .media-left
              %a{:href => ""}
                %img.media-object.search-result{:alt => "{{game.title}}", "ng-src" => "{{game.small_cover}}"}/
            .media-body
              %h4.media-heading.search-result-text
                {{game.title}}
              %p
                {{game.platform}}
                %button.btn.btn-primary.btn-xs{:type => "button", "ng-hide" => "isGameOwned(game.id)", "ng-click" => "saveOwnedGame(game)"}
                  Agregar

    .row.profile
      .col-md-12



  %br/
  %br/
